.unselectable ::selection {
  background: transparent;
}
.unselectable ::-moz-selection {
  background: transparent;
}

#container {
  margin: 20px auto 0;
  width: 345px;
}
table#gameTable {
  background-color: #ef6036;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 9px;
}
table#gameTable thead td,
table#gameTable td.index,
table#gameTable td.gameCell {
  font-weight: bold;
  width: 18px;
  height: 18px;
  color: #FFF;
  font-size: 18px;
}
table#gameTable tbody td {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
table#gameTable tbody td.gameCell {
  cursor: pointer;
  text-align: center;
}
table#gameTable tbody td.state_0 {
  background-color: white;
}
table#gameTable tbody td.state_2 {
  background-color: #ef6036;
}
table#gameTable tbody td.state_1,
table#gameTable tbody td.state_3 {
  background-color: #ef6036;
}
table#gameTable ::selection {
  background: transparent;
}
table#gameTable ::-moz-selection {
  background: transparent;
}
.message {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.message.state_0 {
  background-color: #ffffb2;
}

.message.state_2,
.message.state_false {
  background-color: #ffc2c2;
}
.message.state_true,
.message.state_3,
.message.state_4 {
  background-color: #66ff33;
}
.shots {
  margin-top: 10px;
}
.title_text{
	text-align: center;
}